<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @setting.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @setting.description %>
</p>

<p>
  <strong>Language:</strong>
  <%= @setting.language %>
</p>

<p>
  <strong>Google analytics account:</strong>
  <%= @setting.ga_tracking_code %>
</p>

<p>
  <strong>Github:</strong>
  <%= @setting.github_id %>
</p>

<%= link_to 'Back', '/admin' %>
