<div class="post text">
  <div class="">
    <div class="date">
        <a href="#"><%= created_at_fmt %></a>
    </div> <!-- .date -->
    <div class="tweet share-link clearfix">
      <a href="http://b.hatena.ne.jp/entry/www.kyamada.com/posts/<%= id %>" class="hatena-bookmark-button" data-hatena-bookmark-title="kyamadaのtechblog" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="en" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>

      <a href="https://twitter.com/share"
        class="twitter-share-button"
        data-url="http://www.kyamada.com/posts/<%= id %>"
        data-text="Fun with Bootstrap themes and CSS transitions"
        data-via="thomashpark"
        >Tweet</a>

    </div>
  </div> <!-- .span3 -->

  <div class="entry">
    <div class="title">
      <h2><a href="#/<%= id %>"><%= title %></a></h2>
    </div> <!-- .title -->

    <div class="tags">
      <% for (i = 0; i < tags.length; i++) { %>
        <a href='/posts/tag/<%= tags[i] %>'><%= tags[i] %></a>
      <% } %>
    </div>


    <% if (TB.email) { %>
      <div style="text-align:right">
        <a href="#/<%= id %>/edit">Edit</a>
        <a href="#/<%= id %>/destroy" class="destroy">Destroy</a>
      </div>
    <% } %>

    <div class="POST">
      <%= body_html %>
    </div>
  </div> <!-- .entry -->
</div> <!-- .row .post -->

<hr/>
