<!--<article class="hentry entry js-entry-article date-first autopagerize_page_element chars-400 words-100 markdown entry-odd" id="entry-xxxxxxxxx" data-keyword-campaign="">-->
  <div class="entry-inner">
    <header class="entry-header">
      <div class="page-header">
        <h1 id="template"><%= title %></h1>
      </div>

      <div class="date first">
        <a href="#" rel="nofollow">
          <time pubdate="" datetime="<%= created_at %>" title="<%= created_at %>">
            <span class="date"><%= created_at %></span>
          </time>
        </a>
      </div>

      <div class="categories no-categories">

      </div>
    </header>
    <div class="entry-content">
      <%= body_html %>
    </div>
    <footer class="entry-footer">
      <div class="hatena-star-container">
      </div>
    </footer>
  </div>

<a href="#/<%= id %>">Show
<a href="#/<%= id %>/edit">Edit
<a href="#/<%= id %>/destroy" class="destroy">Destroy</a>
