<div class="post text">
  <div class="">
    <div class="date">
        <a href="#"><%= created_at_fmt %></a>
    </div> <!-- .date -->
    <div class="tweet share-link clearfix">
      <a href="http://b.hatena.ne.jp/entry/www.kyamada.com/posts/<%= sub_id %>"
         class="hatena-bookmark-button"
         data-hatena-bookmark-title="<%= title %>"
         data-hatena-bookmark-layout="standard-balloon"
         data-hatena-bookmark-lang="en"
         title="このエントリーをはてなブックマークに追加">
        <img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>

      <a href="https://twitter.com/share"
        class="twitter-share-button"
        data-url="http://www.kyamada.com/posts/<%= sub_id %>"
        data-text="<%= title %>"
        data-via="K__YAMADA"
        >Tweet</a>
    </div>
  </div> <!-- .span3 -->

  <div class="entry">
    <div class="title">
      <h2><a href="/posts/<%= sub_id %>"><%= title %></a></h2>
    </div> <!-- .title -->

    <div class="tags">
      <% for (i = 0; i < tags.length; i++) { %>
        <a href='/posts/tag/<%= tags[i] %>'><i class="fa fa-tag"></i> <%= tags[i] %></a>
      <% } %>
    </div>


    <% if (TB.email) { %>
      <div style="text-align:right">
        <a href="#/<%= id %>/edit">Edit</a>
        <a href="#/<%= id %>/destroy" class="destroy">Destroy</a>
      </div>
    <% } %>

    <div class="POST">
      <%= body_html %>
    </div>
  </div> <!-- .entry -->
</div> <!-- .row .post -->

<hr/>
