<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group form-group field">
    <span class="input-group-addon">Title</span>
    <%= f.text_field :title, :class => "form-control", :placeholder => "Title" %>
  </div>

  <div class="form-group field" tabindex="1">
    <ul class="nav nav-tabs">
      <li class="active" id="btn_write"><a href="javaScript:void(0)" tabindex="1">Write</a></li>
      <li id="btn_preview"><a href="javaScript:void(0)" tabindex="1">Preview</a></li>
    </ul>

    <%= f.text_area :body, :cols => "50", :rows => "15" %>
  </div>

  <div class="form-group input-group field">
    <span class="input-group-addon">Tags</span>
    <%= f.text_field :tags, :class => "form-control", :placeholder => "rails, ruby" %>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
