<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# blog: http://ogp.me/ns/blog#">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="image:Background" content="">

  <meta name="text:Disqus Shortname" content="">
  <meta name="text:Google Analytics UA Code" content="">
  <meta name="text:Tweet Via Account" content="">
  <meta name="text:Tweet Follow Account" content="">

  <!-- END TUMBLR APPEARANCE OPTIONS -->

  <script type="text/javascript">
  </script>

  <%# current_setting.ga_tracking_code.html_safe %>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="description" content="">
  <meta http-equiv="x-dns-prefetch-control" content="off"/>
  <meta name="keywords" content="kyamada,techblog,rails" />

  <title><%= current_setting[:title] %></title>

  <!-- ======== STYLES ======== -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="navbar navbar-default navbar-fixed-top ">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="../"><%= current_setting[:title] %></a>

          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!--<a href="../about">About</a>-->
            <% if current_user %>
            <li><a href="/admin">Admin</a></li>
            <li><a href="#/new">New Entry</a></li>
            <li><a href="#"><%= current_user.name %></a></li>
            <li><%= link_to "Sign Out", signout_path %></li>
            <% else %>
            <li><%= link_to "Sign in with Google", "/auth/open_id?openid_url=https://www.google.com/accounts/o8/id" %></li>
            <% end %>
          </ul>
          <!--<form class="navbar-search pull-right" action="/search" method="get">
            <input type="text" class="search-query" placeholder="Search..." id="search" name="q" value="" />
          </form> -->
        </div> <!-- nav-collapse -->

      </div> <!-- container -->
    </div> <!-- navbar navbar-fixed-top -->
  </header>

  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <%= yield %>
      </div>
    </div>
  </div>



  <footer>
    <p style="text-align:center">Powered by <a href="https://github.com/k-yamada/techblog" target="_blank">TechBlog</a>.</p>
  </footer>

</body>
</html>
