<!DOCTYPE html>
<script>var __pbpa = true;</script><script>var translated_warning_string = 'Warning: Never enter your Tumblr password unless \u201chttps://www.tumblr.com/login\u201d\x0ais the address in your web browser.\x0a\x0aYou should also see a green \u201cTumblr, Inc.\u201d identification in the address bar.\x0a\x0aSpammers and other bad guys use fake forms to steal passwords.\x0a\x0aTumblr will never ask you to log in from a user\u2019s blog.\x0a\x0aAre you absolutely sure you want to continue?';</script><script type="text/javascript" language="javascript" src="http://assets.tumblr.com/assets/scripts/pre_tumblelog.js?_v=5b797ec1789c05fafa10f8f64db3e278"></script>
<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# blog: http://ogp.me/ns/blog#">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- TUMBLR APPEARANCE OPTIONS -->

  <meta name="if:Include Like Button" content="0">
  <meta name="if:Include Tweet Button" content="0">
  <meta name="if:Show Description On Index" content="1">
  <meta name="if:Show Link To Archive" content="1">
  <meta name="if:Show Link To RSS" content="0">
  <meta name="text:Bootswatch Theme" content="default"/>
  <meta name="if:Use Alternate Navbar" content="0">

  <meta name="image:Background" content="">

  <meta name="text:Disqus Shortname" content="">
  <meta name="text:Google Analytics UA Code" content="">
  <meta name="text:Tweet Via Account" content="">
  <meta name="text:Tweet Follow Account" content="">

  <!-- END TUMBLR APPEARANCE OPTIONS -->

  <script type="text/javascript">
    window.TB = {};
    TB.email = null;
    <% if current_user %>
    TB.email = "<%= current_user.email %>";
    <% end %>
  </script>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="description" content="">
  <link rel="shortcut icon" href="http://bootswatch.com/favicon.ico">
  <link rel="apple-touch-icon" href="http://24.media.tumblr.com/avatar_47075fa15a0d_128.png">
  <link rel="alternate" type="application/rss+xml" href="http://news.bootswatch.com/rss">

  <title><%= @blog_info[:title] %></title>

  <!-- ======== STYLES ======== -->

  <link href="http://bootswatch.com/cerulean/bootstrap.min.css" rel="stylesheet">
  <link href="http://bootswatch.com/assets/css/bootswatch.min.css" rel="stylesheet">

  <style type="text/css">

  body {
    padding-top: 80px; /* room for fixed nav-bar */
    background-image: url('http://assets.tumblr.com/images/x.gif');
  }

  .hero-unit {
    padding: 20px 40px;
  }

  .hero-unit h1,
  .hero-unit p {
    line-height: 1.3em;
  }

  .post {
    padding: 20px 0;
  }

  .title > h2 {
    line-height: 1em;
    margin: 0 0 20px;
  }

  .title > h2 > a {
    vertical-align: top;
  }

  .thumbnails,
  .thumbnails > .thumbnail {
    margin-left: 0;
  }

  .entry img {
    margin: 30px 0;
  }

  .author, .date, .tags {
    margin-bottom: 1em;
  }

  footer {
    padding: 10px 0 40px;
  }

  .notes-container ol.notes {
    margin-top: 2em;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }

  body .one .bsa_it_p {
    display: none;
  }

  <!--

  -->

  </style>


<!-- BEGIN TUMBLR FACEBOOK OPENGRAPH TAGS --><!-- If you'd like to specify your own Open Graph tags, define the og:url and og:title tags in your theme's HTML. --><!-- Read more: http://ogp.me/ --><meta property="fb:app_id" content="48119224995" /><meta property="og:title" content="Bootswatch" /><meta property="og:url" content="http://news.bootswatch.com/?og=1" /><meta property="og:description" content="" /><meta property="og:type" content="tumblr-feed:tumblelog" /><meta property="og:image" content="http://24.media.tumblr.com/avatar_47075fa15a0d_128.png" /><!-- END TUMBLR FACEBOOK OPENGRAPH TAGS -->


<!-- TWITTER TAGS --><meta charset="utf-8"><meta name="twitter:site" content="tumblr" /><meta name="twitter:card" content="summary" /><meta name="twitter:title" content="bootswatch" /><meta name="twitter:description" content=" " /><meta name="twitter:app:name:iphone" content="Tumblr" /><meta name="twitter:app:name:ipad" content="Tumblr" /><meta name="twitter:app:name:googleplay" content="Tumblr" /><meta name="twitter:app:id:iphone" content="305343404" /><meta name="twitter:app:id:ipad" content="305343404" /><meta name="twitter:app:id:googleplay" content="com.tumblr" /><meta name="twitter:app:url:iphone" content="tumblr://x-callback-url/blog?blogName=bootswatch&amp;referrer=twitter-cards" /><meta name="twitter:app:url:ipad" content="tumblr://x-callback-url/blog?blogName=bootswatch&amp;referrer=twitter-cards" /><meta name="twitter:app:url:googleplay" content="tumblr://x-callback-url/blog?blogName=bootswatch&amp;referrer=twitter-cards" />

<script src="http://assets.tumblr.com/assets/scripts/tumblelog.js?_v=0f46e4f107a4e8cb911e9a37fe9ea99f"></script>
<meta http-equiv="x-dns-prefetch-control" content="off"/>
<meta name="keywords" content="bootswatch,bootstrap,glyphs,themes,web design" />
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => false %>
<%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="navbar navbar-default navbar-fixed-top ">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="../"><%= @blog_info[:title] %></a>

          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
              <li><a tabindex="-1" href="http://bootswatch.com/default/">Default</a></li>
              <li class="divider"></li>
              <li><a tabindex="-1" href="http://bootswatch.com/amelia/">Amelia</a></li>
              <li><a tabindex="-1" href="http://bootswatch.com/cerulean/">Cerulean</a></li>
              <li><a tabindex="-1" href="http://bootswatch.com/cosmo/">Cosmo</a></li>
              <li><a tabindex="-1" href="http://bootswatch.com/cyborg/">Cyborg</a></li>
              <li><a tabindex="-1" href="http://bootswatch.com/flatly/">Flatly</a></li>
              <li><a tabindex="-1" href="http://bootswatch.com/journal/">Journal</a></li>
              <li><a tabindex="-1" href="http://bootswatch.com/readable/">Readable</a></li>
              <li><a tabindex="-1" href="http://bootswatch.com/simplex/">Simplex</a></li>
              <li><a tabindex="-1" href="http://bootswatch.com/slate/">Slate</a></li>
              <li><a tabindex="-1" href="http://bootswatch.com/spacelab/">Spacelab</a></li>
              <li><a tabindex="-1" href="http://bootswatch.com/united/">United</a></li>
              <li><a tabindex="-1" href="http://bootswatch.com/yeti/">Yeti</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!--<a href="../about">About</a>-->
            <% if current_user %>
            <li><a href="/admin">Admin</a></li>
            <li><a href="#/new">New Entry</a></li>
            <li><a href="#"><%= current_user.name %></a></li>
            <li><%= link_to "Sign Out", signout_path %></li>
            <% else %>
            <li><%= link_to "Sign in with Google", "/auth/open_id?openid_url=https://www.google.com/accounts/o8/id" %></li>
            <% end %>
          </ul>
          <!--<form class="navbar-search pull-right" action="/search" method="get">
            <input type="text" class="search-query" placeholder="Search..." id="search" name="q" value="" />
          </form> -->
        </div> <!-- nav-collapse -->

      </div> <!-- container -->
    </div> <!-- navbar navbar-fixed-top -->
  </header>

  <div class="container">
    <%= yield %>

      <div class="row post text">

        <div class="col-lg-2">

          <div class="date">


              <a href="http://news.bootswatch.com/post/66095126840/glyphsearch-quickly-find-icons-in-glyphicons-and-font">5 November 2013</a>



          </div> <!-- .date -->






          <div class="tweet share-link clearfix">
            <a href="https://twitter.com/share"
              class="twitter-share-button"
              data-url="http://news.bootswatch.com/post/66095126840/glyphsearch-quickly-find-icons-in-glyphicons-and-font"
              data-text="GlyphSearch: Quickly find icons in Glyphicons and Font Awesome"

              data-via="thomashpark"


              >Tweet</a>
          </div>



        </div> <!-- .span3 -->

        <div class="col-lg-6 entry">

          <div class="title">

            <h2><a href="http://news.bootswatch.com/post/66095126840/glyphsearch-quickly-find-icons-in-glyphicons-and-font">GlyphSearch: Quickly find icons in Glyphicons and Font Awesome</a></h2>

          </div> <!-- .title -->

          <div class="POST">

            <!-- ANSWER -->

            <!-- /ANSWER -->

            <!-- TEXT -->

              <p>Between <a href="http://getbootstrap.com/components/#glyphicons">Glyphicons</a> and <a href="http://fontawesome.io/">Font Awesome</a>, we have plenty of amazing icons to choose from for our Bootstrap projects. GlyphSearch is a tool I created to help you search these libraries and quickly find the icons you need.</p>
<p>Check out <a href="http://glyphsearch.com/">GlyphSearch</a>, and read more about the making of <a href="http://thomaspark.me/2013/11/glyphsearch-improving-the-search-for-icon-fonts/">here</a>.</p>

<p><a href="http://glyphsearch.com/"><img src="http://media.tumblr.com/78e63a4a0cd752d56b0697e4735fb07c/tumblr_inline_mvsqt2WCGM1qb17pp.png"/></a></p>

            <!-- /TEXT -->

            <!-- VIDEO -->

            <!-- /VIDEO -->

            <!-- PHOTO -->

            <!-- /PHOTO -->

            <!-- QUOTE -->

            <!-- /QUOTE -->

            <!-- LINK -->

            <!-- /LINK -->

            <!-- CHAT -->

            <!-- /CHAT -->

            <!-- AUDIO -->

            <!-- /AUDIO -->

          </div>
        </div> <!-- .entry -->

        <div class="col-lg-3 col-lg-offset-1">

          <div id="bsap_1277971" class="bsarocks bsap_c466df00a3cd5ee8568b5c4983b6bb19"></div>

        </div> <!-- .span3 -->
      </div> <!-- .row .post -->





      <hr/>


      <div class="row post text">

        <div class="col-lg-2">

          <div class="date">


              <a href="http://news.bootswatch.com/post/58518984781/bootswatch-updated-to-3-0-0-rc2">17 August 2013</a>



          </div> <!-- .date -->






          <div class="tweet share-link clearfix">
            <a href="https://twitter.com/share"
              class="twitter-share-button"
              data-url="http://news.bootswatch.com/post/58518984781/bootswatch-updated-to-3-0-0-rc2"
              data-text="Bootswatch updated to 3.0.0-rc2"

              data-via="thomashpark"


              >Tweet</a>
          </div>



        </div> <!-- .span3 -->

        <div class="col-lg-6 entry">

          <div class="title">

            <h2><a href="http://news.bootswatch.com/post/58518984781/bootswatch-updated-to-3-0-0-rc2">Bootswatch updated to 3.0.0-rc2</a></h2>

          </div> <!-- .title -->

          <div class="POST">

            <!-- ANSWER -->

            <!-- /ANSWER -->

            <!-- TEXT -->

              <p>Bootswatch has been updated to 3.0.0-rc2.</p>
<p><span>Bootstrap 3 continues to receive many refinements. This version brings significant changes that require you to change your markup for grid, navbars, buttons, alerts, labels, and panels.</span></p>
<p><span><a href="http://blog.getbootstrap.com/2013/08/13/bootstrap-3-rc2/" target="_blank">Read over the full list of changes</a>.</span></p>

            <!-- /TEXT -->

            <!-- VIDEO -->

            <!-- /VIDEO -->

            <!-- PHOTO -->

            <!-- /PHOTO -->

            <!-- QUOTE -->

            <!-- /QUOTE -->

            <!-- LINK -->

            <!-- /LINK -->

            <!-- CHAT -->

            <!-- /CHAT -->

            <!-- AUDIO -->

            <!-- /AUDIO -->

          </div>
        </div> <!-- .entry -->

        <div class="col-lg-3 col-lg-offset-1">

          <div id="bsap_1277971" class="bsarocks bsap_c466df00a3cd5ee8568b5c4983b6bb19"></div>

        </div> <!-- .span3 -->
      </div> <!-- .row .post -->





      <hr/>


      <div class="row post text">

        <div class="col-lg-2">

          <div class="date">


              <a href="http://news.bootswatch.com/post/57587461390/big-wins-in-bootstrap-3">7 August 2013</a>



          </div> <!-- .date -->






          <div class="tweet share-link clearfix">
            <a href="https://twitter.com/share"
              class="twitter-share-button"
              data-url="http://news.bootswatch.com/post/57587461390/big-wins-in-bootstrap-3"
              data-text="Big Wins in Bootstrap 3"

              data-via="thomashpark"


              >Tweet</a>
          </div>



        </div> <!-- .span3 -->

        <div class="col-lg-6 entry">

          <div class="title">

            <h2><a href="http://news.bootswatch.com/post/57587461390/big-wins-in-bootstrap-3">Big Wins in Bootstrap 3</a></h2>

          </div> <!-- .title -->

          <div class="POST">

            <!-- ANSWER -->

            <!-- /ANSWER -->

            <!-- TEXT -->

              <p>I&#8217;m in the process of converting Bootswatch from <a href="http://bootswatch.com/2/">Bootstrap 2.3.2</a> to 3.0.0, which<span> you can preview </span><a href="http://bootswatch.com/">right now</a><span>. This process has meant a lot of labor first off, but also exposure to what&#8217;s new with Bootstrap 3. H</span><span>ere are some of the big wins I&#8217;ve observed.</span></p>
<h2>Easier to Customize</h2>
<p>Bootstrap 3 is much easier to theme. If you&#8217;re digging into the LESS, B3 offers more variables that propagate to multiple components in a consistent manner. For instance, B3 adds variables (@state-info-text) that are shared by forms and alerts.</p>
<p><span>B3 also eschews color names (@red) for more semantic state names (@brand-danger). This enforces greater consistency by removing one degree of indirection. The old path was #ff0000 -&gt; @red -&gt; danger; the new one is #ff0000 -&gt; danger. Of course if you need a set palette, you still have the choice to set your own variables.</span></p>
<p>If you&#8217;re simply overriding the default CSS, that&#8217;s easier too thanks to the simplified code that comes with flat design. In many instances, you only need to override the property of interest (color or background-color), rather than playing whack-a-mole with borders, box shadows, and gradients that are coupled with it. And anecdotally speaking, the specificity of Bootstrap has loosened up, meaning you don&#8217;t have to use a five-combo selectors to override most things.</p>
<h2>Smaller File Sizes</h2>
<p>With fewer properties being used thanks to flat design, another benefit is the smaller file size. Bootstrap has gone from two files at 149kb/123kb minified to a single file at 86kb/69kb minified.</p>
<p>In addition to the flat design, the Bootstrap developers have worked hard at making the code as efficient as possible. To illustrate, look at <a href="http://bootswatch.com/slate/">Slate</a>, one of the more skeuomorphic themes. It&#8217;s slimmed down from 155kb/130kb minified to 105kb/87kb minified.</p>
<h2>Mobile First</h2>
<p>One of the biggest changes driving B3 is a mobile first approach. While in B2 you had the option to go responsive or not, B3 assumes that you are.</p>
<p>While this will be a &#8220;gotcha&#8221; to people not accustomed to designing responsively (which you should be), the rest of us get a much more powerful grid system. Do you want to show 4 columns for desktop, 3 columns for tablets, and 1 column for phones? Move the left column to the right? No problem.</p>
<p>Another handy addition to B3 is the img-responsive utility class, which scales images up to their parent element as it resizes.</p>
<h2>New Components</h2>
<p>B3 adds some new components, including the <a href="http://getbootstrap.com/components/#list-group">list group</a>. My only complaint with it is that I wish it were easier to get working with the ScrollSpy plugin.</p>
<h2>Hyphens vs. CamelCase</h2>
<p>Perhaps the change that elicited the most impassioned response was the switch from camelCase to hyphens. While the change did force me to unlearn some muscle memory, it wasn&#8217;t long before I had adjusted. And in the long term, hyphens seem more readable, and are certainly much easier for editing partial strings, like when changing &#8220;btn-primary&#8221; to a &#8220;btn-default&#8221;.</p>
<h2><span>Easy to Transition</span></h2>
<p>Overall, it didn&#8217;t take long to pick up on B3, despite some of the more arcane, less humane, class names. As Bootstrap developers, the majority of changes will stay hidden under the hood. Converting the Tumblr Bootstrap theme for this blog from 2.3.2 to 3.0.0 required only updating the navbar markup and column class names (span4 offset1 became col-lg-4 col-lg-offset-1). <a href="http://www.bootply.com/migrate-to-bootstrap-3">Here&#8217;s a useful migration guide</a>.</p>
<p>As you can see, Bootstrap 3 offers a lot of wins. Even if you&#8217;re not in such a rush to update your existing projects, you should use your next project as an opportunity to give B3 a whirl.</p>

            <!-- /TEXT -->

            <!-- VIDEO -->

            <!-- /VIDEO -->

            <!-- PHOTO -->

            <!-- /PHOTO -->

            <!-- QUOTE -->

            <!-- /QUOTE -->

            <!-- LINK -->

            <!-- /LINK -->

            <!-- CHAT -->

            <!-- /CHAT -->

            <!-- AUDIO -->

            <!-- /AUDIO -->

          </div>
        </div> <!-- .entry -->

        <div class="col-lg-3 col-lg-offset-1">

          <div id="bsap_1277971" class="bsarocks bsap_c466df00a3cd5ee8568b5c4983b6bb19"></div>

        </div> <!-- .span3 -->
      </div> <!-- .row .post -->



      <hr/>


    <!-- .posts -->


    <ul class="pager">


        <li><a href="/page/2">Next page</a></li>

    </ul>


    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
    </footer>
  </div>


  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23019901-1']);
    _gaq.push(['_setDomainName', "bootswatch.com"]);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>


  <!-- ======== SCRIPTS ======== -->

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://static.tumblr.com/m0grfcc/OLNm8b7eu/bootstrap.min.js"></script>

  <script type="text/javascript" src="http://bootswatch.com/assets/js/bsa.js"></script>


  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>




<!-- BEGIN TUMBLR CODE --><iframe id="tumblr_controls" width="1" height="1" frameborder="0" scrolling="no" style="position:absolute; z-index:2147483647; top:0; right:0; border:0; background-color:transparent; overflow:hidden; " src="http://assets.tumblr.com/assets/html/iframe/o.html?_v=00ef3ece70969f2aa131e08591567522#src=http%3A%2F%2Fnews.bootswatch.com%2F&amp;lang=en_US&amp;name=bootswatch&amp;avatar=http%3A%2F%2F24.media.tumblr.com%2Favatar_47075fa15a0d_64.png&amp;title=Bootswatch&amp;url=http%3A%2F%2Fnews.bootswatch.com%2F&amp;page_slide=slide"></iframe><div id="teaser_iframe_container" style="display:none;"><iframe scrolling="no" frameborder="0" src="http://www.tumblr.com/assets/html/iframe/teaser.html?_v=a5a03d9c26d33ca95f6b70cf121e3647#src=http%3A%2F%2Fnews.bootswatch.com%2F&amp;lang=en_US&amp;name=bootswatch&amp;avatar=http%3A%2F%2F24.media.tumblr.com%2Favatar_47075fa15a0d_64.png&amp;title=Bootswatch&amp;url=http%3A%2F%2Fnews.bootswatch.com%2F&amp;page_slide=slide" id="teaser_iframe" width="1" height="1"></iframe></div><script type="text/javascript">
  (function(Tumblr){
    var follow_iframe_initialized = false;
    if (Tumblr.FollowTeaser && Tumblr.PostMessageListener) {
      // Don't do anything until the first initialize event
      Tumblr.PostMessageListener.initialize(function(message, origin) {
        if (follow_iframe_initialized || message.length < 2) return;

        if (message[0] === 'follow_iframe' && message[1] === 'enable') {
          Tumblr.FollowTeaser.current_page = 1;
          Tumblr.FollowTeaser.infer_infinite_scroll = true;
          Tumblr.FollowTeaser.create_from_tumblr_controls("http:\/\/assets.tumblr.com\/assets\/html\/iframe\/follow.html?_v=8e479df16416fa8b79cea400abc40a85");
          Tumblr.FollowTeaser.scroll_listener(true);
          follow_iframe_initialized = true;
        }
      });
    }
  })(this.Tumblr || (this.Tumblr = {}));
</script><!--[if IE]><script type="text/javascript">document.getElementById('tumblr_controls').allowTransparency=true;</script><![endif]--><iframe onload="javascript:this.contentWindow.postMessage(['tick_google_analytics', '/?route=%2F'].join(';'), this.src.split('/analytics.html')[0]);  COMSCORE = true;this.contentWindow.postMessage('enable_comscore;' + window.location, this.src.split('/analytics.html')[0]);" src="http://assets.tumblr.com/analytics.html?ad2cae069893ce59ed750a2ae2244fd9" scrolling="no" width="1" height="1" frameborder="0" style="background-color:transparent; overflow:hidden; position:absolute; top:0; left:0 z-index:9999;" id="ga_target"></iframe><script type="text/javascript">
    var _qevents = _qevents || [];

    (function() {
     var elem = document.createElement('script');

     elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
     elem.async = true;
     elem.type = "text/javascript";
     var scpt = document.getElementsByTagName('script')[0];
     scpt.parentNode.insertBefore(elem, scpt);
    })();
  </script><script type="text/javascript">
    _qevents.push( { qacct: 'p-19UtqE8ngoZbM' } );
  </script><noscript><div style="display: none;"><img src="//pixel.quantserve.com/pixel/'p-19UtqE8ngoZbM'.gif" height="1" width="1" alt="Quantcast"/></div></noscript><script type="text/javascript">!function(s){s.src='http://www.tumblr.com/impixu?T=1387215556&J=eyJ0eXBlIjoidXJsIiwidXJsIjoiaHR0cDpcL1wvbmV3cy5ib290c3dhdGNoLmNvbVwvIiwicmVxdHlwZSI6MCwicm91dGUiOiJcLyJ9&U=LALPGDPEON&K=b09390230e06a4e7dd1d0b37238355d47547279eed8436b4a6e45582a9a33e93&R=http%3A%2F%2Fbootswatch.com%2Fcerulean%2F'.replace(/&R=[^&$]*/,'').concat('&R='+escape(document.referrer)).slice(0,2000).replace(/%.?.?$/,'');}(new Image());</script><noscript><img style="position:absolute;z-index:-3334;top:0px;left:0px;visibility:hidden;" src="http://www.tumblr.com/impixu?T=1387215556&J=eyJ0eXBlIjoidXJsIiwidXJsIjoiaHR0cDpcL1wvbmV3cy5ib290c3dhdGNoLmNvbVwvIiwicmVxdHlwZSI6MCwicm91dGUiOiJcLyIsIm5vc2NyaXB0IjoxfQ==&U=LALPGDPEON&K=e2b67bbdc29e6baa7d7b0d5832000d8e5c2803a8a13660fb7fd06bfa4d851c19&R=http%3A%2F%2Fbootswatch.com%2Fcerulean%2F"></noscript><script type="text/javascript">!function(s){s.src='http://www.tumblr.com/impixu?T=1387215556&J=eyJ0eXBlIjoicG9zdCIsInVybCI6Imh0dHA6XC9cL25ld3MuYm9vdHN3YXRjaC5jb21cLyIsInJlcXR5cGUiOjAsInJvdXRlIjoiXC8iLCJwb3N0cyI6W3sicG9zdGlkIjoiNjg1NzIxMzA5NDEiLCJibG9naWQiOiI0NDg0NzExMiIsInNvdXJjZSI6MzN9LHsicG9zdGlkIjoiNjc3NTMxMzY3NjEiLCJibG9naWQiOiI0NDg0NzExMiIsInNvdXJjZSI6MzN9LHsicG9zdGlkIjoiNjYwOTUxMjY4NDAiLCJibG9naWQiOiI0NDg0NzExMiIsInNvdXJjZSI6MzN9LHsicG9zdGlkIjoiNTg1MTg5ODQ3ODEiLCJibG9naWQiOiI0NDg0NzExMiIsInNvdXJjZSI6MzN9LHsicG9zdGlkIjoiNTc1ODc0NjEzOTAiLCJibG9naWQiOiI0NDg0NzExMiIsInNvdXJjZSI6MzN9LHsicG9zdGlkIjoiNTc0MDE3MDQwNjEiLCJibG9naWQiOiI0NDg0NzExMiIsInNvdXJjZSI6MzN9LHsicG9zdGlkIjoiNTA1Njk3NjQ0NzgiLCJibG9naWQiOiI0NDg0NzExMiIsInNvdXJjZSI6MzN9LHsicG9zdGlkIjoiNDY4NTk5MTc2MDAiLCJibG9naWQiOiI0NDg0NzExMiIsInNvdXJjZSI6MzN9LHsicG9zdGlkIjoiNDUxOTQxMTc3ODkiLCJibG9naWQiOiI0NDg0NzExMiIsInNvdXJjZSI6MzN9LHsicG9zdGlkIjoiNDQyOTI3OTYwMjEiLCJibG9naWQiOiI0NDg0NzExMiIsInNvdXJjZSI6MzN9XX0=&U=NFJNNIIEOB&K=31cdf821aa2a12192eab2e9e197af5942207794a2dca79cd26f2871d025c8230&R=http%3A%2F%2Fbootswatch.com%2Fcerulean%2F'.replace(/&R=[^&$]*/,'').concat('&R='+escape(document.referrer)).slice(0,2000).replace(/%.?.?$/,'');}(new Image());</script><noscript><img style="position:absolute;z-index:-3334;top:0px;left:0px;visibility:hidden;" src="http://www.tumblr.com/impixu?T=1387215556&J=eyJ0eXBlIjoicG9zdCIsInVybCI6Imh0dHA6XC9cL25ld3MuYm9vdHN3YXRjaC5jb21cLyIsInJlcXR5cGUiOjAsInJvdXRlIjoiXC8iLCJwb3N0cyI6W3sicG9zdGlkIjoiNjg1NzIxMzA5NDEiLCJibG9naWQiOiI0NDg0NzExMiIsInNvdXJjZSI6MzN9LHsicG9zdGlkIjoiNjc3NTMxMzY3NjEiLCJibG9naWQiOiI0NDg0NzExMiIsInNvdXJjZSI6MzN9LHsicG9zdGlkIjoiNjYwOTUxMjY4NDAiLCJibG9naWQiOiI0NDg0NzExMiIsInNvdXJjZSI6MzN9LHsicG9zdGlkIjoiNTg1MTg5ODQ3ODEiLCJibG9naWQiOiI0NDg0NzExMiIsInNvdXJjZSI6MzN9LHsicG9zdGlkIjoiNTc1ODc0NjEzOTAiLCJibG9naWQiOiI0NDg0NzExMiIsInNvdXJjZSI6MzN9LHsicG9zdGlkIjoiNTc0MDE3MDQwNjEiLCJibG9naWQiOiI0NDg0NzExMiIsInNvdXJjZSI6MzN9LHsicG9zdGlkIjoiNTA1Njk3NjQ0NzgiLCJibG9naWQiOiI0NDg0NzExMiIsInNvdXJjZSI6MzN9LHsicG9zdGlkIjoiNDY4NTk5MTc2MDAiLCJibG9naWQiOiI0NDg0NzExMiIsInNvdXJjZSI6MzN9LHsicG9zdGlkIjoiNDUxOTQxMTc3ODkiLCJibG9naWQiOiI0NDg0NzExMiIsInNvdXJjZSI6MzN9LHsicG9zdGlkIjoiNDQyOTI3OTYwMjEiLCJibG9naWQiOiI0NDg0NzExMiIsInNvdXJjZSI6MzN9XSwibm9zY3JpcHQiOjF9&U=NFJNNIIEOB&K=e3d305e45d49a7c38732ede72ae87ce12cb776930d525f0189c8da66e2e7db5c&R=http%3A%2F%2Fbootswatch.com%2Fcerulean%2F"></noscript><script type="text/javascript" src="http://l.yimg.com/ss/rapid-3.9.js"></script><script>
          (function(YAHOO) {
            if (YAHOO) {
              YAHOO.i13n.beacon_server = 'nol.yahoo.com';
              var keys = { pd:'/', _li:0, i_rad:0, i_strm:0 };
              YAHOO.rapid = new YAHOO.i13n.Rapid({spaceid:1197719229, oo:1, client_only:1, yql_enabled:false, keys:keys});
            }
          })(window.YAHOO);
        </script><!-- END TUMBLR CODE -->

</body>
</html>
